:root {
    --black: rgb(29, 29, 29);
    --white: rgb(250, 250, 250);
    --grey: rgb(121, 121, 121);
}

html,
body {
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: var(--black);
    background: rgb(235, 235, 235);
}

#header-bar {
    padding: 18px 20px;
    color: var(--white);
    background: rgb(75, 75, 75);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    margin: 0;
    font-size: 3rem;
}

.nav-btn {
    background: inherit;
    border: none;
    color: var(--white);
}

.nav-bar {
    display: none;
    background: rgb(219, 219, 219);
    color:rgb(37, 37, 37);
    font-size: 1.5rem;
    box-shadow: 0px 1px 2px var(--grey);
    /* prevent highlights */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

.wrapper {
    padding: 15px;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.selection {
    padding: 7px;
    border-radius: 5px;
    display: flex;
}

.selection i,
.add-project-btn i {
    margin-right: 10px;
}

.selection:hover {
    background:rgb(204, 204, 204);
}

.selected {
    background: rgb(204, 204, 204);
    font-weight: bold;
}

h3 {
    font-size: 1.9rem;
}

.add-project-btn {
    display: none;
}

.project {
    justify-content: space-between;
}

.tab > * {
    pointer-events: none;
}

.project-delete {
    pointer-events: all;
}

.project-delete {
    display: none;
}

.project-delete:hover {
    color:rgb(190, 39, 39);
}

.project:hover .project-delete {
    display: block;
}

.content {
    margin: 20px;
}

.tasks {
    margin: 5px;
}

.task {
    font-size: 1.3rem;
    color: var(--black);
    border: 1px solid var(--grey);
    border-radius: 10px;
    padding: 10px 10px;
    margin-top: 15px;
}

.task:hover {
    background: rgb(204, 204, 204);
}

.info-wrapper {
    display: none;
    justify-content: space-between;
    align-items: center;
}

.complete-icon {
    width: 12px;
    height: 12px;
    border: 1px solid var(--grey);
    border-radius: 50%;
}

.task-name {
    width: 55%;
    margin-left: 5px;
}

.side-icons-wrapper {
    display: flex;
    width: 30px;
    justify-content: space-between;
}

.edit-icon,
.delete-icon {
    display: none;
    color: var(--grey);
}

.edit-icon:hover {
    color: var(--black);
}

.delete-icon:hover {
    color: rgb(190, 39, 39);
}

.task:hover .edit-icon,
.task:hover .delete-icon {
    display: block;
}

.task-edit-form {
    display: none;
    height: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.edit-inputs {
    display: flex;
    width: 80%;
    max-width: 600px;
    justify-content: space-around;
}

.edit-task-title {
    width: 50%;
}

.edit-task-due {
    font-family: Arial, Helvetica, sans-serif;
}

.confirm-edit-buttons {
    width: 150px;
    display: flex;
    justify-content: space-evenly;
}

.confirm-edit,
.cancel-edit {
    border: 1px solid var(--black);
    border-radius: 5px;
    background: inherit;
}

.confirm-edit:hover {
    border: 1px solid rgba(149, 229, 149, 0.9);
    background: rgba(149, 229, 149, 0.9);
}

.cancel-edit:hover {
    border: 1px solid rgba(196, 94, 94, 0.9);
    background: rgba(196, 94, 94, 0.9);
}

.project-form,
.task-form {
    display: none;
    font-size: 13px;
}

.task-form {
    text-align: center;
}

.add-task-btn {
    font-size: 1.5rem;
    display: none;
    text-align: center;
}

.form-input {
    border-radius: 3px;
    border: 1px solid var(--black);
    padding: 4px 8px;
}

.form-btns {
    display: inline-block;
}

.form-btns button {
    padding: 3px;
}

.task-submit-btn:hover,
.project-submit-btn:hover {
    background:rgba(149, 229, 149, 0.9);
    border: 2px solid rgba(149, 229, 149, 0.9);
}

.task-cancel-btn:hover,
.project-cancel-btn:hover {
    background:rgba(196, 94, 94, 0.9);
    color:rgb(235, 235, 235);
    border: 2px solid rgba(196, 94, 94, 0.9);
}

.display-flex {
    display: flex;
}

.display {
    display: block;
}

@media (min-width: 321px) {
    html,
    body {
        font-size: 10px;
    }

    .tasks {
        margin: 10px;
    }
}

@media (min-width: 769px) {
    header {
        position: fixed;
        width: 100vw;
        z-index: 5;
    }

    .nav-btn {
        display: none;
    }

    .nav-wrap {
        width: 30%;
        max-width: 400px;
    }

    .nav-bar {
        z-index: 1;
        display: flex;
        position: fixed;
        width: inherit;
        max-width: inherit;
        height: 100vh;
        overflow: hidden;
    }

    .wrapper {
        width: 100%;
        overflow-y: scroll;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
    }

    .wrapper::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }

    .wrapper ul:first-child {
        margin-top: 80px;
    }

    .project-form {
        margin-top: 10px;
    }
    
    .content-wrapper {
        display: flex;
    }

    .main-wrapper {
        width: 60%;
        margin: 80px;
        flex: 2;
        max-width: 1000px;
    }
}

@media (max-width: 1030px) {
    .project-form .form-btns {
        margin-top: 10px;
    }
}