:root {
    --black: rgb(29, 29, 29);
    --white: rgb(243, 243, 243);
}

html,
body {
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: var(--black);
}

#header-bar {
    padding: 18px 20px;
    color: var(--white);
    background: rgb(75, 75, 75);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    margin: 0;
    font-size: 3rem;
}

.nav-btn {
    background: inherit;
    border: none;
    color: var(--white);
}

.nav-bar {
    display: none;
    background: rgb(231, 231, 231);
    color:rgb(37, 37, 37);
    font-size: 1.5rem;
    /* prevent highlights */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

.display {
    display: block;
}

.wrapper {
    padding: 15px;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.selection {
    padding: 7px;
    border-radius: 5px;
    display: flex;
}

.selection i,
.add-project-btn i {
    margin-right: 10px;
}

.selection:hover {
    background:rgb(204, 204, 204);
}

.selected {
    background: rgb(204, 204, 204);
    font-weight: bold;
}

h3 {
    font-size: 1.9rem;
}

.cell {
    border: 1px solid var(--black);
    margin-top: 5px;
}

@media (min-width: 320px) {
    html,
    body {
        font-size: 10px;
    }
}