:root {
    --black: rgb(29, 29, 29);
    --white: rgb(250, 250, 250);
    --grey: rgb(121, 121, 121);
}

html,
body {
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: var(--black);
    background: rgb(235, 235, 235);
}

#header-bar {
    padding: 18px 20px;
    color: var(--white);
    background: rgb(75, 75, 75);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    margin: 0;
    font-size: 3rem;
}

.nav-btn {
    background: inherit;
    border: none;
    color: var(--white);
}

.nav-bar {
    display: none;
    background: rgb(219, 219, 219);
    color:rgb(37, 37, 37);
    font-size: 1.5rem;
    box-shadow: 0px 1px 2px var(--grey);
    /* prevent highlights */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

.wrapper {
    padding: 15px;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.selection {
    padding: 7px;
    border-radius: 5px;
    display: flex;
}

.selection i,
.add-project-btn i {
    margin-right: 10px;
}

.selection:hover {
    background:rgb(204, 204, 204);
}

.selected {
    background: rgb(204, 204, 204);
    font-weight: bold;
}

h3 {
    font-size: 1.9rem;
}

.add-project-btn {
    display: none;
}

.project {
    justify-content: space-between;
}

.project-delete {
    display: none;
}

.project-delete:hover {
    color:rgb(190, 39, 39);
}

.project:hover .project-delete {
    display: block;
}

.content {
    margin: 20px;
}

.tasks {
    margin: 10px;
}

.task {
    font-size: 1.3rem;
    color: var(--black);
    border: 1px solid var(--grey);
    border-radius: 10px;
    padding: 10px 15px;
    margin-top: 15px;
}

.task:hover {
    background: rgb(204, 204, 204);
}

.info-wrapper {
    display: none;
    justify-content: space-between;
    align-items: center;
}

.complete-icon {
    width: 12px;
    height: 12px;
    border: 1px solid var(--grey);
    border-radius: 50%;
}

.task-name {
    width: 55%;
}

.side-icons-wrapper {
    display: flex;
    width: 30px;
    justify-content: space-between;
}

.edit-icon,
.delete-icon {
    display: none;
    color: var(--grey);
}

.edit-icon:hover {
    color: var(--black);
}

.delete-icon:hover {
    color: rgb(190, 39, 39);
}

.task:hover .edit-icon,
.task:hover .delete-icon {
    display: block;
}

.add-task-btn {
    font-size: 1.5rem;
    display: none;
    text-align: center;
}

.task-edit-form {
    display: none;
    height: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.edit-inputs {
    display: flex;
    width: 80%;
    max-width: 600px;
    justify-content: space-around;
}

.edit-task-title {
    width: 50%;
}

.edit-task-due {
    font-family: Arial, Helvetica, sans-serif;
}

.confirm-edit-buttons {
    width: 150px;
    display: flex;
    justify-content: space-evenly;
}

.confirm-edit,
.cancel-edit {
    border: 1px solid var(--black);
    border-radius: 5px;
    background: inherit;
}

.confirm-edit:hover {
    border: 1px solid rgba(149, 229, 149, 0.9);
    background: rgba(149, 229, 149, 0.9);
}

.cancel-edit:hover {
    border: 1px solid rgba(196, 94, 94, 0.9);
    background: rgba(196, 94, 94, 0.9);
}

.project-form,
.task-form {
    display: none;
}

.display-flex {
    display: flex;
}

.display {
    display: block;
}

@media (min-width: 320px) {
    html,
    body {
        font-size: 10px;
    }
}